<div class="panel panel-info" style="margin-top:1em">
		<div class="panel-heading">
			<h1 class="panel-title" style="font-size:2em">
				Introduction
			</h1>
		</div>
</div>

<div class="panel-body">
	<p class='lead'>
		Welcome to our study.<br/><br/>
		If you have not already filled out a consent form, please do so at the provided link. 
Clicking start below means that you have read and submitted the consent document, agree to the terms of the study, are at least 18, and transgender. <br/><br/>
		In this study, you will be asked to complete at self-gender IAT which is expected to take up to ten minutes as well as answer questions about your gender identity.
<%= global.sessionId %>
<%= global.randomID %>
We thank you for being here!
	</p>
	<div class="text-center proceed" style="margin: 30px auto 10px;">
		<button pi-message-done type="button" class="btn btn-primary">
			Start
		</button>
	</div>
</div>





